{% extends 'pages/base.html' %} 
{% block title %}Vehicle Management{%endblock%} 
{% block content %}
{% load crispy_forms_tags %}
<h1 class="display-4" style="text-align: center;">List of vehicle</h1>
<div class="row">
    <div class="col-md-6">
        <a href="{% url 'addvehicle' %}" class="btn btn-primary btn-block btn-lg">
            <i class="fa-solid fa-plus"></i> <b>Add new vehicle</b>
        </a>
        <a href="{% url 'veh' %}" class="btn btn-secondary btn-block btn-lg">
            <i class="fa-solid fa-rotate-right"></i> <b>Reload</b>
        </a>
    </div>
    <div class="col-md-6">
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            {{form.search|as_crispy_field}}
            <button type="submit" class="btn btn-success btn-lg"><i class="fa-solid fa-magnifying-glass"></i>  Search</button>  
            </form>
    </div>
</div> 
<hr class="my-4">
<table class="table table-striped">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <th>Plate</th>
            <th>Title</th>
            <th>Color</th>
            <th>Image</th>
            <th>Owner</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for v in Vehicles %}
        <tr>
            <td><b>{{ v.plate }}</b></td>
            <td>{{ v.title }}</td>
            <td>{{ v.color }}</td>
            {% if v.image %}
            <td><img src="{{ v.image.url }}" width="100" height="70"></td>
            {% else %}
            <td>none</td>
            {% endif %}
            <td>{{ v.owner }}</td>
            <td>
                <a href='{% url 'editvehicle' v.id %}' class="btn text-secondary ">
                    <i class="fa-solid fa-file-pen" ></i>
                </a>
            </td>
            <td>
                <form action="{% url 'deletevehicle' v.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="fa-solid fa-trash" style="color: red"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}