{% extends 'pages/base.html' %} 
{% block title %}Edit vehicle owner profile{%endblock%} 
{% load crispy_forms_tags %}
{% block content %}
<h1 class="display-4" style="text-align: center;">Details of vehicle owner</h1>
<hr class="my-4">
<form method="POST" autocomplete="off" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="row">
    <div class="col-md-4">
      <img src="{{ owner.image.url }}"  alt="None" class="img-thumbnail" style="width: 250px; height: 300px;">
    </div>
    <div class="col-md-4">
        {{form.firstname|as_crispy_field}}
        {{form.id_card|as_crispy_field}}
        {{form.email|as_crispy_field}}
        <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fa-solid fa-floppy-disk"></i> <b>Save</b></button>  
        <a href="{% url 'own' %}" class="btn btn-secondary btn-block btn-lg">
          <i class="fa-solid fa-arrow-left"></i> <b>Go back</b>
      </a>
    </div>
    <div class="col-md-4">
        {{form.lastname|as_crispy_field}}
        {{form.phone|as_crispy_field}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
        {{form.image|as_crispy_field}}
    </div>
  </div>

  
  </form>
{% endblock content %}