{% extends 'pages/base.html' %} 
{% block title %}Edit vehicle profile{%endblock%} 
{% load crispy_forms_tags %}
{% block content %}
<h1 class="display-4" style="text-align: center;">Details of vehicle</h1>
<hr class="my-4">
<form method="POST" autocomplete="off" enctype="multipart/form-data" action="{% url 'payfee' Violation.id %}">
  {% csrf_token %}
    <div class="row">
      <div class="col-md-4">
        <label>Plate</label>
        <input class="form-control"  readonly value="{{Violation.vehicle.plate}}">
      </div> 
      <div class="col-md-4">
        <label>Owner</label>
        <input class="form-control" readonly value="{{Violation.vehicle.owner}}">
      </div>
      <div class="col-md-4">
        <label>Time</label>
        <input class="form-control" readonly value="{{Violation.time}}">
      </div>    
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Status</label>
        {% if Violation.status == True%}
        <input class="form-control"  readonly value="Paid">
          {% else %}
          <input class="form-control"  readonly value="Not paid">
          {% endif %}
      </div> 
    </div>
    <div class="row">
      <div class="col-md-8">
        <img src="{{ Violation.image.url }}" alt="None" class="img-thumbnail">
      </div>    
    </div>
  <div class="row">
    {% if user.is_authenticated %}
    <div class="col-md-8">
      <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fa-solid fa-floppy-disk"></i> <b>Pay</b></button>  
  </div>
  <div class="col-md-4">
    <a href="{% url 'violation_list' %}" class="btn btn-secondary btn-block btn-lg">
      <i class="fa-solid fa-arrow-left"></i> <b>Go back</b>
  </a>
  </div>
    {% else %}
    <div class="col-md-5">
      <a href="{% url 'violation_list' %}" class="btn btn-secondary btn-block btn-lg">
        <i class="fa-solid fa-arrow-left"></i> <b>Go back</b>
    </a>
    </div>
    {% endif %}
</div>
      
  </form>
{% endblock content %}